body{
    font-family: "Overpass",sans-serif;
}
@media (min-width: 1200px) {
    .hs4-h1 {
        font-family: 'Overpass', sans-serif;
        font-size: 53px;
        text-transform: none;
    }
}
@media screen and (min-width: 768px){
    .carousel-caption{
        left: 28%;
    }
}
.text-white-7 span{
    letter-spacing: 1px;
    font-size: 42px;
}

/* Services */
.services {
    background: #e2e2e2 url(https://seamfix.com/wp-content/uploads/2017/04/map.png?id=512);
}
.constr-item .title h4{
    "overpass",sans-serif;
    color: #CD7E54
}
.arch-right-pic-1 {
    background-image: url("");
}